{namespace mgn=MONOGON\TranslationTools\ViewHelpers}
<f:layout name="{layout}" />


<f:section name="content">

<f:form class="inline-form hidden" action="list" name="demand" object="{demand}" additionalAttributes="{data-ajaxform: '1', data-visualsearch: '1', data-target: '.results'}">
  <div class="form-group">
    <f:form.select title="{f:translate(key:'translation_demand.file')}" multiple="multiple" property="files" options="{demand.fileOptions}" class="form-control" multiple="multiple" />
  </div>
  <div class="form-group">
    <f:form.select title="Language" class="form-control" multiple="multiple" property="languages" options="{demand.languageOptions}" />
  </div>
  <div class="form-group">
    <f:form.textfield title="ID" property="id" class="form-control" placeholder="id" />
  </div>
  <div class="form-group">
    <f:form.textfield title="Label" property="label" class="form-control" placeholder="label" />
  </div>
  <div class="form-group">
    <f:form.select title="Filter" property="filter" options="{demand.filterOptions}" prependOptionValue="" prependOptionLabel="" />
  </div>
  <input type="submit">
</f:form>

<div class="results">
  <f:if condition="{translations}">
    <f:render section="ajax" arguments="{_all}" />
  </f:if>
</div>

<f:form class="hidden" name="translation" action="update">
  <f:form.hidden property="id" />
  <f:form.hidden property="sourceFile" />
  <f:form.hidden property="targetLanguage" />
  <f:form.hidden property="source" />
  <f:form.hidden property="target" />
</f:form>

</f:section>


<f:section name="ajax">

<f:flashMessages renderMode="div" />
<f:render partial="FormErrors" />

<f:if condition="{translations}">
  <f:then>
    <table class="translations table table-bordered" >
      <tr>
        <th width="25%">ID</th>
        <f:if condition="{demand.languages}">
          <f:for each="{demand.languages}" as="language">
            <th>{language}</th>
          </f:for>
        </f:if>
      </tr>

      <f:for each="{translations}" as="translationGroup">
        <tr>
          <td title="{translationGroup.file}">
            <div>{translationGroup.source}</div>
            <div><small class="text-muted">{translationGroup.id}</small></div>
          </td>
          <f:if condition="{demand.languages}">
            <f:for each="{demand.languages}" as="language">
              <mgn:variable.access var="{translationGroup}" propertyName="{language}" as="translation">
                <td class="editable"
                  data-id="{translation.id}"
                  data-source-file="{translation.sourceFile}"
                  data-source="{translation.source}"
                  data-target-language="{translation.targetLanguage}"><f:format.raw>{translation.target}</f:format.raw></td>
              </mgn:variable.access>
            </f:for>
          </f:if>
        </tr>
      </f:for>
    </table>

  </f:then>
  <f:else>
    <f:translate key="results.none">No results.</f:translate>
  </f:else>
</f:if>

</f:section>