{namespace mgn=MONOGON\TranslationTools\ViewHelpers}
<f:layout name="{layout}" />


<f:section name="content">

<f:flashMessages />

<f:form class="inline-form" action="list" name="demand" object="{demand}" additionalAttributes="{data-plugin: 'visualSearch ajaxForm', data-target: '.results'}">
  <div class="form-group">
    <f:form.select title="{f:translate(key:'translation_demand.file')}" property="file" options="{mgn:form.options.files()}" size="1" class="form-control" prependOptionValue="" prependOptionLabel="" />
  </div>
  <div class="form-group">
    <f:form.select title="Language" class="form-control" multiple="multiple" property="languages" options="{mgn:form.options.systemLanguages()}" />
  </div>
  <div class="form-group">
    <f:form.textfield title="ID" property="id" class="form-control" placeholder="id" />
  </div>
  <div class="form-group">
    <f:form.textfield title="Label" property="label" class="form-control" placeholder="label" />
  </div>
  <div class="form-group">
    <f:form.select title="Filter" property="filter" options="{mgn:form.options.filter()}" prependOptionValue="" />
  </div>
  <input type="submit">
</f:form>

<div class="results"></div>


<script id="EditableTemplate" type="text/template">
<f:form name="translation" action="update">
  <f:form.hidden additionalAttributes="{data-property: 'id'}" property="id" />
  <f:form.hidden additionalAttributes="{data-property: 'file'}" property="file" />
  <f:form.hidden additionalAttributes="{data-property: 'target-language'}" property="targetLanguage" />
  <f:form.hidden additionalAttributes="{data-property: 'source'}" property="source" />
  <f:form.textarea additionalAttributes="{data-property: 'target'}" property="target"></f:form.textarea>
</f:form>
</script>

</f:section>


<f:section name="ajax">

<f:flashMessages />
<f:render partial="FormErrors" />

<f:if condition="{translations}">
  <f:then>
    <table class="translations table table-striped" >
      <tr>
        <th width="25%">ID</th>
        <f:if condition="{demand.languages}">
          <f:for each="{demand.languages}" as="language">
            <th>{language}</th>
          </f:for>
        </f:if>
      </tr>

      <f:for each="{translations}" as="translation">
        <tr data-file="{translation._file}" data-id="{translation._id}">
          <td title="{translation._file}">{translation._id}</td>
          <f:if condition="{demand.languages}">
            <f:for each="{demand.languages}" as="language">
              <mgn:variable.access var="{translation}" propertyName="{language}" as="unit">
                <td class="editable" data-source="{unit.source}" data-target-language="{language}">{unit.target}</td>
              </mgn:variable.access>
            </f:for>
          </f:if>
        </tr>
      </f:for>
    </table>
  </f:then>
  <f:else>
    <f:translate key="results.none">No results.</f:translate>
  </f:else>
</f:if>

</f:section>