{namespace mgn=MONOGON\TranslationTools\ViewHelpers}
<f:layout name="Default" />


<f:section name="content">

<h1>Listing for Translation</h1>

<f:flashMessages />

<f:form class="inline-form" action="list" name="demand" object="{demand}">
  <div class="form-group">
    <f:form.select property="file" options="{mgn:form.options.files()}" size="1" class="form-control" title="{f:translate(key: 'tx_addresscollection_domain_model_address.addressgroup')}" prependOptionValue="" prependOptionLabel="" />
  </div>
  <div class="form-group">
    <f:form.select class="form-control" multiple="multiple" property="languages" options="{mgn:form.options.systemLanguages()}" optionValueField="flag" optionLabelField="title" prependOptionValue="" prependOptionLabel="" />
  </div>
  <div class="form-group">
    <f:form.textfield property="id" class="form-control" title="" placeholder="id" />
  </div>
  <div class="form-group">
    <f:form.textfield property="label" class="form-control" title="" placeholder="label" />
  </div>
  <input type="submit">
</f:form>

<mgn:translationTable translations="{translations}" demand="{demand}"></mgn:translationTable>

<f:comment>

<table class="translations table table-striped" >
    <tr>
      <th>ID</th>
      <th>Source</th>
      <f:if condition="{demand.languages}">
        <f:for each="{demand.languages}" as="language">
          <th>{language}</th>
        </f:for>
      </f:if>
    </tr>

  <f:for each="{translations}" as="translation" key="translationId">
    <tr>
      <td>{translationId}</td>
      <f:if condition="{demand.languages}">
        <f:for each="{demand.languages}" as="language">
          <td class="editable">{translation.{language}.source}</td>
        </f:for>
      </f:if>
    </tr>
  </f:for>
</table>
</f:comment>

<f:form name="translation">
  <f:form.hidden property="id" />
  <f:form.hidden property="source" />
  <f:form.hidden property="target" />
</f:form>

</f:section>
