
<f:form.validationResults>
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="typo3-messages">
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<div class="typo3-message message-error">
					<f:for each="{errors}" as="error">
						<div class="message-body"><!-- {error.code} -->
							<f:translate key="error.{error.code}">{error}</f:translate>
						</div>
					</f:for>
				</div>
			</f:for>
		</div>
	</f:if>
</f:form.validationResults>