{namespace mgn=MONOGON\TranslationTools\ViewHelpers}
<f:be.container
	loadJQuery="1"
	includeJsFiles="{
		1: '{f:uri.resource(path: \'JavaScript/Vendors/bootstrap.min.js\')}',
		2: '{f:uri.resource(path: \'JavaScript/Vendors/dependencies.js\')}',
		3: '{f:uri.resource(path: \'JavaScript/Vendors/visualsearch.js\')}',
		4: '{f:uri.resource(path: \'JavaScript/jquery.visualSearch.js\')}',
		5: '{f:uri.resource(path: \'JavaScript/jquery.ajaxForm.js\')}',
		6: '{f:uri.resource(path: \'JavaScript/jquery.editable.js\')}',
		7: '{f:uri.resource(path: \'JavaScript/Ext.js\')}'
	}"
	includeCssFiles="{
		1: '{f:uri.resource(path: \'StyleSheet/Vendors/bootstrap.min.css\')}',
		2: '{f:uri.resource(path: \'StyleSheet/Vendors/visualsearch-datauri.css\')}',
		3: '{f:uri.resource(path: \'StyleSheet/Tools.css\')}'
	}">

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
				</div>
				<div class="right">
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:link.action class="btn-export-csv" format="csv">
						<span title="Export CSV" class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-document-export-csv">&nbsp;</span>
					</f:link.action>
					<f:link.action class="btn-import-csv">
						<span title="Import CSV" class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-upload">&nbsp;</span>
					</f:link.action>

					<f:form class="hidden" name="import" action="import" enctype="multipart/form-data">
						<f:form.upload name="file" />
					</f:form>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render partial="FormErrors" />


				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
