.results {
	margin: 1em 0;
	position: relative;
}

.results .ajax-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: url("../Images/ajax-loader.gif") #FFF no-repeat top center;
	opacity: 0.5;
}

.typo3-docheader-buttons {
	box-sizing: content-box;
}

textarea.editable-editor {
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	outline: none;
}
textarea.editable-editor:focus {
	border: 0;
	outline: none;
	box-shadow: none;
	border-color: transparent;
}
td.editable {
	white-space: pre-wrap;
	position: relative;
}
td.editable .translation-source{
	margin: 8px -8px -8px -8px;
	padding: 8px;
	background-color: #DFF0D8;
	color: #468847;
}
.msg-div .typo3-message{
	width: 600px !important;
}
.msg-div .flash-message {
	word-break: break-all !important;
}