<code title="Translate key">
<f:translate key="key1" />
<f:translate key="key2">Default</f:translate>
<f:translate htmlEscape="false" key="key3">Default</f:translate>
</code>
<output>
value of key "key1" in the current website language
</output>

<code title="Keep HTML tags">
<f:translate key="htmlKey1" htmlEscape="false" />
<f:translate htmlEscape="false" key="htmlKey2" />
<f:translate default="Default3" key="htmlKey3" />
<f:translate key="htmlKey4" default="Default4" />
</code>
<output>
value of key "htmlKey" in the current website language, no htmlspecialchars applied
</output>

<code title="Translate key from custom locallang file">
<f:translate key="LLL:EXT:myext/Resources/Private/Language/locallang.xlf:custom_locallang_file" />
</code>
<output>
value of key "key1" in the current website language
</output>

<code title="Inline notation with arguments and default value">
{f:translate(key: 'inline_with_args', arguments: {0: 'dog', 1: 'fox'}, default: 'Default Inline With Arguments')}
</code>
<output>
value of key "argumentsKey" in the current website language
with "%1" and "%2" are replaced by "dog" and "fox" (printf)
if the key is not found, the output is "default value"
</output>

<code title="Inline notation with extension name">
{f:translate(key: 'someKey', extensionName: 'SomeExtensionName')}
</code>
<output>
value of key "someKey" in the current website language
the locallang file of extension "some_extension_name" will be used
</output>

<code title="Translate id as in TYPO3 Flow">
<f:translate id="id1" />
</code>
<output>
value of id "id1" in the current website language
</output>